@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

@keyframes ping {
  75%, 100% {
    transform: scale(2);
    opacity: 0.05;
  }
}

.my-pulse {
  width: 32px !important;
  height: 32px !important;
  transform-origin: center center;
  animation: ping 1.5s cubic-bezier(0, 0, 0.2, 1) infinite !important;
}

.custom-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.9);
  padding: 40px 20px 20px;
  border-radius: 8px;
  color: white;
  text-align: center;
  z-index: 1000;
  max-width: 80vw;
}

.dialog-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  padding: 5px;
}

.dialog-close:hover {
  opacity: 0.8;
}